<div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="https://beian.miit.gov.cn">{{ icp.code }}</a>
    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ gongan.code }}" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="" style="float:left;"/>
        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
            {{ gongan.title }}
        </p>
    </a>
</div>
