<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
    {% include "hinode/layout/header.html" %}
    <title>{% block title %} {{ title }} {% endblock %} | {{ site.title }}</title>
  </head>
  <body>
    <div class="main d-flex flex-column">
      {% include "hinode/layout/nav-bar.html" %}
      <div class="justify-content-center flex-grow-1">        
        {% block content %} {% endblock %}        
      </div>
      {% include "hinode/layout/footer.html" %}
    </div>
  </body>
</html>
